@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --b-font: Arial;
  --ba-color: white;
  --b-color: black;
  --h-font: 'Chivo Mono', monospace;
  --h-color: White;
  --a-hcolor: green;
  --u-color: red;
}

body {
  font-family: var(--b-font);
  background-color: var(--ba-color);
}

header {
  background-color: var(--h-color);
}

a:hover {
  color: var(--a-hcolor);
  text-decoration: underline;
}

a {
  color: var(--b-color);
  text-decoration: none;
}

.right {
  text-align: right;
}

.name {
  color: var(--u-color);
}

.ul {
  list-style-type: none;
}
nav{
  background-color: white;
}